/* styles.css */

body {
    background-color : #D0F0C0;
}

.image {
margin-top: -5px;
margin-left: 10px;
}

h3{
margin-left: 10px;
}

p{
margin-left: 10px;
}

table,th,td{
background-color: #1DB954;
border-collapse: 1px solid transparent;
border : 1px solid #D0F0C0;
}
.album{
width: 50px;
height: 50px;
}

th, td {
text-align: center; /* Center align the contents of table cells */
padding: 10px;
/*border: 1px solid #000;*/
}